7.2 Creating arrays from Existing Data Practice

In [1]:
import numpy as np

In [2]:
numbers = np.array([2, 3, 5, 7, 11])

In [3]:
type(numbers)

numpy.ndarray

In [4]:
numbers

array([ 2,  3,  5,  7, 11])

In [5]:
np.array([[1, 2, 3], [4, 5, 6]])

array([[1, 2, 3],
       [4, 5, 6]])

7.2 Self Check 2

In [6]:
np.array([x for x in range(2, 21, 2)])

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

7.2 Self Check 3

In [7]:
np.array([[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]])

array([[ 2,  4,  6,  8, 10],
       [ 1,  3,  5,  7,  9]])

7.3 array Attributes

In [8]:
integers = np.array([[1, 2, 3], [4, 5, 6]])

In [9]:
integers

array([[1, 2, 3],
       [4, 5, 6]])

In [10]:
floats = np.array([0.0, 0.1, 0.2, 0.3, 0.4])

In [11]:
floats

array([0. , 0.1, 0.2, 0.3, 0.4])

In [12]:
integers.dtype

dtype('int32')

In [13]:
floats.dtype

dtype('float64')

In [14]:
integers.ndim

2

In [15]:
floats.ndim

1

In [16]:
integers.shape

(2, 3)

In [17]:
floats.shape

(5,)

In [18]:
integers.size

6

In [19]:
integers.itemsize

4

In [20]:
floats.size

5

In [21]:
floats.itemsize

8

In [22]:
for row in integers:
    for column in row:
        print(column, end=' ')
    print()

1 2 3
4 5 6

In [23]:
for i in integers.flat:
    print(i, end='  ')

1  2  3  4  5  6

7.3 Self Check 2

In [24]:
a = np.array([[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]])

In [25]:
a.ndim

2

In [26]:
a.shape

(2, 5)

7.4 Filling arrays with Specific Values

In [27]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [28]:
np.ones((2, 4), dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [29]:
np.full((3, 5), 13) #returns elements with the second argument's value and type

array([[13, 13, 13, 13, 13],
       [13, 13, 13, 13, 13],
       [13, 13, 13, 13, 13]])

7.5 Creating arrays from Ranges

In [30]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [31]:
np.arange(5, 10)

array([5, 6, 7, 8, 9])

In [32]:
np.arange(10, 1, -2)

array([10,  8,  6,  4,  2])

In [33]:
np.linspace(0.0, 1.0, num=5) #second value included in array

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [34]:
np.arange(1, 21).reshape(4, 5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [38]:
np.arange(1, 100001).reshape(4, 25000) #4 rows by 25000 columns

array([[     1,      2,      3, ...,  24998,  24999,  25000],
       [ 25001,  25002,  25003, ...,  49998,  49999,  50000],
       [ 50001,  50002,  50003, ...,  74998,  74999,  75000],
       [ 75001,  75002,  75003, ...,  99998,  99999, 100000]])

In [39]:
np.arange(1, 100001).reshape(100, 1000)

array([[     1,      2,      3, ...,    998,    999,   1000],
       [  1001,   1002,   1003, ...,   1998,   1999,   2000],
       [  2001,   2002,   2003, ...,   2998,   2999,   3000],
       ...,
       [ 97001,  97002,  97003, ...,  97998,  97999,  98000],
       [ 98001,  98002,  98003, ...,  98998,  98999,  99000],
       [ 99001,  99002,  99003, ...,  99998,  99999, 100000]])

7.5 Self Check 2

In [40]:
np.arange(2, 41, 2).reshape(4, 5)

array([[ 2,  4,  6,  8, 10],
       [12, 14, 16, 18, 20],
       [22, 24, 26, 28, 30],
       [32, 34, 36, 38, 40]])

7.6 List vs array Performance: Introducing %timeit

In [41]:
import random

In [46]:
%timeit rolls_list = \
    [random.randrange(1, 7) for i in range(0, 6000000)]
# the \ (line-continuation character) splits the statement over 2 lines

3.52 s ± 22.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [47]:
%timeit rolls_array = np.random.randint(1, 7, 6_000_000)

45.7 ms ± 452 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [48]:
%timeit rolls_array = np.random.randint(1, 7, 60_000_000)

450 ms ± 3.33 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [50]:
%timeit rolls_array = np.random.randint(1, 7, 600_000_000)

4.43 s ± 3.85 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [51]:
#customizing the %timeit iterations, -n for number of times to execute per loop, -r for number of loops
%timeit -n3 -r2 rolls_array = np.random.randint(1, 7, 6_000_000)

44.9 ms ± 158 µs per loop (mean ± std. dev. of 2 runs, 3 loops each)

7.6 Self Check 1

In [53]:
%timeit sum ([x for x in range(10_000_000)])

614 ms ± 3.69 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [54]:
%timeit np.arange(10_000_000).sum()

14.9 ms ± 25.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

7.7 array Operators

In [55]:
numbers = np.arange(1, 6)

In [56]:
numbers

array([1, 2, 3, 4, 5])

In [62]:
numbers * 2
# equal to numbers * [2, 2, 2, 2, 2], this is an example of broadcasting

array([22, 24, 26, 28, 30])

In [58]:
numbers ** 3

array([  1,   8,  27,  64, 125], dtype=int32)

In [59]:
numbers #numbers is unchanged by the arithmetic operators

array([1, 2, 3, 4, 5])

In [60]:
numbers += 10

In [61]:
numbers

array([11, 12, 13, 14, 15])

In [63]:
numbers2 = np.linspace(1.1, 5.5, 5)

In [64]:
numbers2

array([1.1, 2.2, 3.3, 4.4, 5.5])

In [65]:
numbers * numbers2

array([12.1, 26.4, 42.9, 61.6, 82.5])

In [66]:
numbers

array([11, 12, 13, 14, 15])

In [67]:
numbers >= 13

array([False, False,  True,  True,  True])

In [68]:
numbers2

array([1.1, 2.2, 3.3, 4.4, 5.5])

In [69]:
numbers2 < numbers

array([ True,  True,  True,  True,  True])

In [70]:
numbers == numbers2

array([False, False, False, False, False])

In [71]:
numbers == numbers

array([ True,  True,  True,  True,  True])

7.7 Self Check 2

In [72]:
np.arange(1, 6) ** 2

array([ 1,  4,  9, 16, 25])

7.8 NumPy Calculation Methods

In [73]:
grades = np.array([[87, 96, 70], [100, 87, 90], [94, 77, 90], [100, 81, 82]])

In [74]:
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [75]:
grades.sum()

1054

In [76]:
grades.min()

70

In [77]:
grades.max()

100

In [78]:
grades.mean()

87.83333333333333

In [79]:
grades.std()

8.792357792739987

In [80]:
grades.var()

77.30555555555556

In [81]:
grades.mean(axis=0)

array([95.25, 85.25, 83.  ])

In [82]:
grades.mean(axis=1)

array([84.33333333, 92.33333333, 87.        , 87.66666667])

7.8 Self Check 2

In [83]:
grades = np.random.randint(60, 101, 12).reshape(3, 4)

In [84]:
grades

array([[65, 77, 73, 66],
       [90, 63, 61, 73],
       [76, 74, 77, 61]])

In [85]:
grades.mean()

71.33333333333333

In [86]:
grades.mean(axis=0)

array([77.        , 71.33333333, 70.33333333, 66.66666667])

In [87]:
grades.mean(axis=1)

array([70.25, 71.75, 72.  ])

7.9 Universal Functions

In [1]:
import numpy as np

In [2]:
numbers = np.array([1, 4, 9, 16, 25, 36])

In [3]:
np.sqrt(numbers)

array([1., 2., 3., 4., 5., 6.])

In [4]:
numbers2 = np.arange(1, 7) * 10

In [5]:
numbers2

array([10, 20, 30, 40, 50, 60])

In [6]:
np.add(numbers, numbers2)

array([11, 24, 39, 56, 75, 96])

In [7]:
np.multiply(numbers2, 5)

array([ 50, 100, 150, 200, 250, 300])

In [8]:
numbers3 = numbers2.reshape(2, 3)

In [9]:
numbers3

array([[10, 20, 30],
       [40, 50, 60]])

In [12]:
numbers4 = np.array([2, 4, 6])

In [13]:
np.multiply(numbers3, numbers4)

array([[ 20,  80, 180],
       [ 80, 200, 360]])

7.9 Self Check 2

In [14]:
numbers = np.arange(1, 6)

In [15]:
np.power(numbers, 3)

array([  1,   8,  27,  64, 125], dtype=int32)

7.10 Indexing and Slicing

In [16]:
grades = np.array([[87, 96, 70], [100, 87, 90], [94, 77, 90], [100, 81, 82]])

In [17]:
grades

array([[ 87,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

In [18]:
grades[0, 1] #row 0, column 1

96

In [20]:
#select a single row by specifying only one index in []
grades[1]

array([100,  87,  90])

In [21]:
#select multiple sequential rows with slice notation :
grades[0:2]

array([[ 87,  96,  70],
       [100,  87,  90]])

In [22]:
#select multiple non-sequential rows with a list of row indices
grades[[1, 3]]

array([[100,  87,  90],
       [100,  81,  82]])

In [23]:
#below we select all rows, column 0
grades[:, 0]

array([ 87, 100,  94, 100])

In [24]:
#select consecutive columns using a slice
grades[:, 1:3]

array([[96, 70],
       [87, 90],
       [77, 90],
       [81, 82]])

In [26]:
#select specific columns using a list of column indices
grades[:, [0, 2]]

array([[ 87,  70],
       [100,  90],
       [ 94,  90],
       [100,  82]])

7.10 Self Check 2

In [27]:
a = np.arange(1, 16).reshape(3, 5)

In [28]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [30]:
a[1]

array([ 6,  7,  8,  9, 10])

In [31]:
a[[0, 2], :]

array([[ 1,  2,  3,  4,  5],
       [11, 12, 13, 14, 15]])

In [34]:
a[:, 1:4]

array([[ 2,  3,  4],
       [ 7,  8,  9],
       [12, 13, 14]])

7.11 Views: Shallow Copies

In [35]:
numbers = np.arange(1, 6)

In [36]:
numbers

array([1, 2, 3, 4, 5])

In [37]:
numbers2 = numbers.view()

In [38]:
numbers2

array([1, 2, 3, 4, 5])

In [39]:
id(numbers)

2431178299120

In [40]:
id(numbers2)

2431165187824

In [41]:
numbers[1] *= 10

In [42]:
numbers2

array([ 1, 20,  3,  4,  5])

In [43]:
numbers

array([ 1, 20,  3,  4,  5])

In [44]:
numbers2[1] /= 10

In [45]:
numbers

array([1, 2, 3, 4, 5])

In [46]:
numbers2

array([1, 2, 3, 4, 5])

In [47]:
#slices also create views
numbers2 = numbers[0:3]

In [48]:
numbers2

array([1, 2, 3])

In [49]:
numbers2[3]

IndexError: index 3 is out of bounds for axis 0 with size 3

In [50]:
numbers[1] *= 20

In [51]:
numbers

array([ 1, 40,  3,  4,  5])

In [52]:
numbers2

array([ 1, 40,  3])

7.12 Deep Copies

In [53]:
numbers = np.arange(1, 6)

In [54]:
numbers

array([1, 2, 3, 4, 5])

In [55]:
numbers2 = numbers.copy()

In [56]:
numbers2

array([1, 2, 3, 4, 5])

In [57]:
numbers[1] *= 10

In [58]:
numbers

array([ 1, 20,  3,  4,  5])

In [59]:
numbers2

array([1, 2, 3, 4, 5])

7.13 Reshaping and Transposing

In [61]:
#reshape returns a view, it does not modify the original array
grades = np.array([[87, 96, 70], [100, 87, 90]])

In [62]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [63]:
grades.reshape(1, 6)

array([[ 87,  96,  70, 100,  87,  90]])

In [64]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [65]:
#method resize modifies teh original array's shape
grades.resize(1, 6)

In [66]:
grades

array([[ 87,  96,  70, 100,  87,  90]])

In [67]:
grades = np.array([[87, 96, 70], [100, 87, 90]])

In [68]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [75]:
flattened = grades.flatten()
#flatten produces a deep copy

In [70]:
flattened

array([ 87,  96,  70, 100,  87,  90])

In [71]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [72]:
flattened[0] = 100

In [73]:
flattened

array([100,  96,  70, 100,  87,  90])

In [74]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [76]:
#ravel produces a copy
raveled = grades.ravel()

In [77]:
raveled

array([ 87,  96,  70, 100,  87,  90])

In [78]:
grades

array([[ 87,  96,  70],
       [100,  87,  90]])

In [79]:
raveled[0] = 100

In [80]:
raveled

array([100,  96,  70, 100,  87,  90])

In [81]:
grades

array([[100,  96,  70],
       [100,  87,  90]])

In [83]:
grades.T
#transpose to flip the columns and rows, creates a view, does not modify original array

array([[100, 100],
       [ 96,  87],
       [ 70,  90]])

In [84]:
grades

array([[100,  96,  70],
       [100,  87,  90]])

In [85]:
grades2 = np.array([[94, 77, 90], [100, 81, 82]])

In [86]:
#use horizontal and vertical stacking to add more columns and rows
#hstack has extra parentheses, as it expects one argument
np.hstack((grades, grades2))

array([[100,  96,  70,  94,  77,  90],
       [100,  87,  90, 100,  81,  82]])

In [88]:
np.vstack((grades, grades2))
#vstack addes more rows, in this case more student's and their associated grades

array([[100,  96,  70],
       [100,  87,  90],
       [ 94,  77,  90],
       [100,  81,  82]])

Self Check 1

In [89]:
a = np.arange(1, 7).reshape(2, 3)

In [90]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [91]:
a = np.hstack((a, a))

In [92]:
a = np.vstack((a, a))

In [93]:
a

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

7.14.1 pandas Series

In [94]:
import pandas as pd

In [95]:
grades = pd.Series([87, 100, 94])

In [96]:
grades

0     87
1    100
2     94
dtype: int64

In [97]:
#create series of elements that all have same value
pd.Series(98.6, range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

In [98]:
grades[0]

87

In [99]:
grades.count()

3

In [100]:
grades.mean()

93.66666666666667

In [101]:
grades.min()

87

In [102]:
grades.max()

100

In [104]:
grades.std()

6.506407098647712

In [105]:
#method describe produces a bunch of stats
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

In [106]:
#specify custom indices with the index keyword argument
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])

In [107]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [108]:
#if you initialize a Series with a dictionary, its keys become the Series' indices, and its values become the Series' element values
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

In [109]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [110]:
grades['Eva']

100

In [111]:
#if custom index is a string, can access with a dot function
grades.Wally

87

In [112]:
grades.dtype

dtype('int64')

In [113]:
grades.values

array([ 87, 100,  94], dtype=int64)

In [114]:
hardware = pd.Series(['Hammer', 'Saw', 'Wrench'])

In [115]:
hardware

0    Hammer
1       Saw
2    Wrench
dtype: object

In [116]:
hardware.str.contains('a')

0     True
1     True
2    False
dtype: bool

In [117]:
hardware.str.upper()

0    HAMMER
1       SAW
2    WRENCH
dtype: object

7.14.1 Self Check 1

In [119]:
temps = np.random.randint(60, 101, 6)

In [120]:
temperatures = pd.Series(temps)

In [121]:
temperatures

0    83
1    65
2    84
3    89
4    80
5    60
dtype: int32

In [122]:
temperatures.min()

60

In [123]:
temperatures.max()

89

In [124]:
temperatures.mean()

76.83333333333333

In [125]:
temperatures.describe()

count     6.000000
mean     76.833333
std      11.583034
min      60.000000
25%      68.750000
50%      81.500000
75%      83.750000
max      89.000000
dtype: float64

In [126]:
print('Zach Fuller has completed the practices in 7.14.1')

Zach Fuller has completed the practices in 7.14.1

7.14.2 DataFrames

In [128]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}

In [131]:
grades = pd.DataFrame(grades_dict)

In [132]:
grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [134]:
pd.DataFrame(grades_dict, index=['Test1', 'Test2', 'Test3'])

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [137]:
grades.index = ['Test1', 'Test2', 'Test3']
#indices must be 1 dimensional w/ same number of elements as there are rows in teh DataFrame

In [138]:
grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [139]:
#accessing a DataFrame's Columns
grades['Eva']

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

In [140]:
grades.Sam

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64

In [142]:
#can access row by its label in DataFrame with loc attribute
grades.loc['Test1']

Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64

In [143]:
#can access rows by by indices w/ iloc
grades.iloc[1]

Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Test2, dtype: int64

In [144]:
#using slices containing labels with loc will include the specified high index('Test3')
grades.loc['Test1':'Test3']

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [145]:
#using slices with iloc will exclude teh high index(2)
grades.iloc[0:2]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65

In [146]:
#to select specific rows, use a list rather than slice notation with loc or iloc
grades.loc[['Test1', 'Test3']]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

In [147]:
grades.iloc[[0, 2]]

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test3     70   90   90     82   85

In [150]:
#use loc to slice specific rows AND columns by strings
grades.loc['Test1':'Test2', ['Eva', 'Katie']]

       Eva  Katie
Test1  100    100
Test2   87     81

In [151]:
#using iloc to select specific rows AND columns
grades.iloc[[0, 2], 0:3]

       Wally  Eva  Sam
Test1     87  100   94
Test3     70   90   90

In [152]:
grades[grades >= 90]

       Wally    Eva   Sam  Katie  Bob
Test1    NaN  100.0  94.0  100.0  NaN
Test2   96.0    NaN   NaN    NaN  NaN
Test3    NaN   90.0  90.0    NaN  NaN

In [153]:
grades[(grades >= 80) & (grades < 90)]

       Wally   Eva  Sam  Katie   Bob
Test1   87.0   NaN  NaN    NaN  83.0
Test2    NaN  87.0  NaN   81.0   NaN
Test3    NaN   NaN  NaN   82.0  85.0

In [155]:
#using .at and .iat
grades.at['Test2', 'Eva']

87

In [156]:
grades.iat[2, 0]

70

In [157]:
#can change values with at and iat
grades.at['Test2', 'Eva'] = 100

In [158]:
grades.at['Test2', 'Eva']

100

In [159]:
grades.iat[1, 2] = 87

In [160]:
grades.iat[1, 2]

87

In [161]:
grades.describe()

           Wally         Eva        Sam       Katie        Bob
count   3.000000    3.000000   3.000000    3.000000   3.000000
mean   84.333333   96.666667  90.333333   87.666667  77.666667
std    13.203535    5.773503   3.511885   10.692677  11.015141
min    70.000000   90.000000  87.000000   81.000000  65.000000
25%    78.500000   95.000000  88.500000   81.500000  74.000000
50%    87.000000  100.000000  90.000000   82.000000  83.000000
75%    91.500000  100.000000  92.000000   91.000000  84.000000
max    96.000000  100.000000  94.000000  100.000000  85.000000

In [164]:
#use set_operation function to control default settings

In [172]:
pd.set_option('display.precision', 2)
#kept getting errors when trying to use 'precision' as shown in the book. Google showed that this is outdated
#and display.precision should be used

In [173]:
grades.describe()

       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   96.67  90.33   87.67  77.67
std    13.20    5.77   3.51   10.69  11.02
min    70.00   90.00  87.00   81.00  65.00
25%    78.50   95.00  88.50   81.50  74.00
50%    87.00  100.00  90.00   82.00  83.00
75%    91.50  100.00  92.00   91.00  84.00
max    96.00  100.00  94.00  100.00  85.00

In [174]:
grades.mean()

Wally    84.33
Eva      96.67
Sam      90.33
Katie    87.67
Bob      77.67
dtype: float64

In [176]:
#transpose (flip) rows and columns with T attribute, returns a view and not a copy
grades.T

       Test1  Test2  Test3
Wally     87     96     70
Eva      100    100     90
Sam       94     87     90
Katie    100     81     82
Bob       83     65     85

In [177]:
grades.T.describe()

        Test1   Test2  Test3
count    5.00    5.00   5.00
mean    92.80   85.80  83.40
std      7.66   13.81   8.23
min     83.00   65.00  70.00
25%     87.00   81.00  82.00
50%     94.00   87.00  85.00
75%    100.00   96.00  90.00
max    100.00  100.00  90.00

In [178]:
grades.T.mean()

Test1    92.8
Test2    85.8
Test3    83.4
dtype: float64

In [179]:
#sorting rows by their indices
grades.sort_index(ascending=False) #default is ascending order, so we set that to false

       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     82   85
Test2     96  100   87     81   65
Test1     87  100   94    100   83

In [180]:
#sorting by column indices, axis=1 indicates to sort by column indices (default is axis=0 for row indices)
grades.sort_index(axis=1)

       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65  100     81   87     96
Test3   85   90     82   90     70

In [182]:
#sorting by column values
grades.sort_values(by='Test1', axis=1, ascending=False)
#sort based on column values(axis=1) for Test1 in descending order

       Eva  Katie  Sam  Wally  Bob
Test1  100    100   94     87   83
Test2  100     81   87     96   65
Test3   90     82   90     70   85

In [183]:
grades.T.sort_values(by='Test1', ascending=False)

       Test1  Test2  Test3
Eva      100    100     90
Katie    100     81     82
Sam       94     87     90
Wally     87     96     70
Bob       83     65     85

In [184]:
grades.loc['Test1'].sort_values(ascending=False)

Eva      100
Katie    100
Sam       94
Wally     87
Bob       83
Name: Test1, dtype: int64

7.14.2 Self Check 1

In [185]:
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82], 'Thu': [75, 97], 'Fri': [62, 79]}

In [186]:
temperatures = pd.DataFrame(temps, index=['Low', 'High']) # (a)

In [187]:
temperatures

      Mon  Tue  Wed  Thu  Fri
Low    68   71   66   75   62
High   89   93   82   97   79

In [188]:
temperatures.loc[:, 'Mon':'Wed']

      Mon  Tue  Wed
Low    68   71   66
High   89   93   82

In [189]:
temperatures.loc['Low']

Mon    68
Tue    71
Wed    66
Thu    75
Fri    62
Name: Low, dtype: int64

In [190]:
pd.set_option('display.precision', 2)

In [191]:
temperatures.mean()

Mon    78.5
Tue    82.0
Wed    74.0
Thu    86.0
Fri    70.5
dtype: float64

In [192]:
temperatures.mean(axis=1)

Low     68.4
High    88.0
dtype: float64

In [193]:
print('Zach Fuller has completed the DataFrames exercises')

Zach Fuller has completed the DataFrames exercises